<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="icon" type="image/png" href="img/iconPage.webp"> <!-- Icono para la pagina web -->
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/checkout.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container"> <!-- Se agrega el menu principal del checkout (Se agrega esto ya que a la hora de salir o demas, al darle a las 3 rayas tendras informacion de donde ir, solo el Home / Inicio es funcional)-->
            <ul class="menu-items">
                <li><a href="/index.html">Home</a></li> <!-- Como se mencionó anteriormente, solo este es funcional y nos llevará al inicio de todo-->
                <li><a href="#">Products</a></li> <!-- Aqui se pueden observar los productos -->
                <li><a href="#">Categories</a></li> <!-- Aqui se pueden observar las categorias -->
                <li><a href="#">Cart</a></li> <!-- Aqui se pueden observar los productos que has agregado al carrito -->
                <li><a href="#">Favorites</a></li> <!-- Aqui se pueden observar los productos que has agregado a favoritos -->
                <li><a href="#">About Us</a></li> <!-- Aqui se puede observar informacion sobre la tienda -->
                <li><a href="#">Account</a></li> <!-- Aqui se puede observar informacion de tu cuenta -->
            </ul>
        </div>
    </nav>
    <header class="header">
        <!-- Se implementó la opcion de hacer que haya un botón de regreso, asi el usuario no tendría que volver a abrir la pagina si no darle directamente solo al boton para regresar -->
        <a href="detail.html"><button class="back"></button></a> <!-- El class "back" se ubica en el checkout y como se ve en el href, este regresa a lo que esta antes que vendría siendo el apartado de detalles (detail.html)-->
        <!-- Titulo de la pagina -->
        <h1 class="title">Checkout</h1>
        <button class="nav-btn" id="nav-btn"></button> <!-- Este boton se usa para desplegar el menu de hamburguesas que nos dará las opciones que podemos ejecutar de los diferentes apartados-->
    </header>

    <!-- Aquí comienza lo que es el contenido principal de la pagina -->
    <main class="main-content">
        <!-- Productos introducidos en el carrito de compras -->
        <section class="cart-products"> <!-- Se usa una section ya que claramente es una sección de apartado de ropa que se escogio-->
            <!-- Detalles del producto 1 -->
            <div class="products">
                <!-- Su imagen -->
                <div class="product-img"></div>
                <!-- Nombre, tipo, precio -->
                <div class="product-details">
                    <h2>Modern light clothes</h2>
                    <h5>Dress modern</h5>
                    <p class="price">$212.99</p>
                </div>
                <!-- Aquí se introduce la cantidad -->
                <div class="product-setting">
                    <button class="setting"></button>
                    <button class="-"></button>
                    <p class="number">4</p>
                    <button class="+"></button> <!-- Esta cantidad no esta del todo bien, ya que solo refleja el 4 y no es dinamica del todo.-->
                </div>
            </div>

            <!-- Detalles del producto 2-->
            <div class="products">
                <!-- Su imagen  -->
                <div class="product-img"></div>
                <!-- Nombre, tipo y precio -->
                <div class="product-details">
                    <h2>Light Dress Bless</h2>
                    <h5>Dress modern</h5>
                    <p class="price">$162.99</p>
                </div>
                <!-- Aquí se introduce la cantidad -->
                <div class="product-setting">
                    <button class="setting"></button>
                    <button class="-"></button>
                    <p class="number">1</p>
                    <button class="+"></button> <!-- Esta cantidad no esta del todo bien, ya que solo refleja el 1 y no esta completa. -->
                </div>
            </div>
        </section>

        <!-- Metodos de pago -->
        <section class="method-payment">
            <h2 class="method-title">Shipping Information </h2>
            <!-- Se usa el arrow-down como referencia a que se puede usar otro metodo de pago, pero el icon-visa esta para hacer referencia de que se esta usando como pago la VISA -->
            <div class="method-choose">
                <div class="icon-visa"></div>
                <p>**** **** **** 2143</p>
                <div class="arrow-down"></div>
            </div>
        </section>

        <!-- Esta seccion es usada para dar el total de pago -->
        <section class="total-amount">
            <div class="summary-item">
                <span class="label">Total (<span class="items-count">9 items</span>)</span>
                <span class="amount">$1,014.95</span>
            </div>
         
            <div class="summary-item"> <!-- Es la sumatoria del Shipping Fee-->
                <span class="label">Shipping Fee</span>
                <span class="amount">$0.00</span>
            </div>
        
            <div class="summary-item"> <!-- Sumatoria de los productos que estan en descuento -->
                <span class="label">Discount</span>
                <span class="amount">$0.00</span>
            </div>
            <hr> 
            <div class="summary-item"> <!-- El subtotal de los productos a la hora de su pago-->
                <span class="label">Sub Total</span>
                <span class="amount">$1,014.95</span>
            </div>
        </section>
    </main>
    
    <!-- Se establece la clase footer para hacer que haya un apartado que seria lo del pago -->
    <footer class="footer">
        <button class="pay">Pay</button> <!-- Boton para pagar (Usado para hacer referencia de que se puede pagar y se implementa aqui el checkout.js con el Swal.fire que nos dará una pequeña "animacion" de que el pago se ha hecho) -->
    </footer>
    <script src="/js/components/checkout.js"></script> <!-- Aqui se importa el archivo checkout.js y el Swal.fire (animacion de pago)-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- Importa el Swal.fire y es donde se exporto este archivo -->
</body>
</html>