<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="icon" type="image/png" href="img/iconPage.webp"> <!--Icono para la pagina web-->
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <div class="container">
        <div class="product-detail">
            <header class="header">
                <!-- Imagen del producto con el boton de regreso y de Guardado -->
                <div class="hero"></div></a>
                <a href="../index.html" class="hero-back"></a> <!-- Boton de regreso para el inicio principal (Se agrego una clase hero-back para hacer posible esto)-->
                <div style="position: relative;">
                    <div id="iconSave" class="heroforicon"></div> <!-- Se implemento la id IconSave junto a su clase para poder arreglar lo que es el CSS y JS haciendo posible que el boton de guardar funcionara de forma correcta-->
                </div>
                <div id="messageSave" class="message"></div> <!-- Al igual que el iconSave, se implemento para hacer posible la funcion de guardar-->
            </header>
            <main id="main">
                <!-- Producto y rating -->
                <div class="product">
                    <h1 class="name">Light Dress Bless</h1>
                    <p class="rate">5.0 (7.932 reviews)</p>
                    <p class="colorview">Vistas por 100 personas</p>
                </div>

                <!-- Cantidad de productos -->
                <div class="cant-products">
                    <button class="-"></button>
                    <p class="number">1</p>
                    <button class="+"></button>
                </div>

                <!-- Informacion del producto en el Details -->
                <div class="product-info">
                    <p>Its simple and elegant shape makes it perfect for
                        those of you who like you who want minimslist
                        clothes
                    </p>
                    <button id="open_dialog" class="read-more">Read More...</button> <!-- Se uso este boton como guia para poder desarrollar el Open Dialog (o Read More...)-->
                    <dialog aria-labelledby="dialog_title" aria-describedby="dialog_description"> <!-- Aqui se introduce el texto que se necesita y se pone a la hora de hacer el dialogo-->
                        <img src="/storage/img/Product2.png" alt="Picture Read More Img Description" />
                        <h2 id="dialog_title" class="h2">Wanna know more about this cloth?</h2>
                        <p id="dialog_description">
                          This cloth is the Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nihil eum reiciendis atque delectus molestiae perspiciatis. Ipsam rerum architecto eum, praesentium sint minima cum quo quis illo aspernatur quae et?
                        </p>
                        <div class="flex flex-space-between">
                          <button id="close_dialog">Close</button> <!-- Para cerrar el dialogo -->
                          <button id="confirm_dialog" class="cta">Confirm</button> <!-- Confirmar el dialogo -->
                        </div>
                      </dialog>
                </div>

                <!-- Tamaño de ropa junto a sus tipos de colores -->
                <div class="choose">

                    <div class="sizes">
                        
                        <h3>Choose Size</h3>
                        
                        <div class="items">
                        <button class="size-item">S</button>
                        <button class="size-item">M</button>
                        <button class="size-item">L</button>
                        <button class="size-item">XL</button>
                        </div>
                        
                    </div>

                    <div class="colors"> <!-- Elige el tipo de color en la pagina para la ropa -->

                        <h3>Color</h3>

                        <div class="items-color">
                        <button class="color-item"></button>
                        <button class="color-item"></button>
                        <button class="color-item"></button>
                        </div>
                        

                    </div>
                    
                </div>

                <!-- Se implemento el footer para poder agregar las cosas al carrito -->
                <a href="checkout.html">
                    <footer class="footer">
                        <img src="/storage/img/cart-detail.svg" alt="carIcon">
                        <p>Add to Cart | $162.99 <h5>$190.99</h5></p>
                    </footer>
                </a>
            </main>
        </div>
    </div>
    
    <img src="/storage/img/iphone.svg" alt="bariPhone" class="iphone-footer">
    <script src="/js/components/detail.js"></script> <!-- Se implemento el JS de Details para poder ejecutar las funciones -->
    <script src="/js/components/saveItem.js"></script> <!-- Se implemento el JS de saveItem para poder hacer el guardado al darle al corazon-->
</body>
</html>